django>=4.0
django-jazzmin
django-countries
django-crispy-forms
crispy-bootstrap5
numpy
matplotlib
ipython
jupyter
plotly
pandas
statsmodels
patsy
django-guardian
openpyxl
django-environ
scikit-learn
seaborn
django_filter
django_bootstrap5
django-import-export
mysqlclient