django>=4.0
django-jazzmin
django-countries
django-crispy-forms
crispy-bootstrap5
numpy
matplotlib
ipython
jupyter
pandas
statsmodels
patsy
django-guardian
openpyxl
django-environ
sklearn
seaborn
django_filter
django_bootstrap5
