{% load i18n %}

    <div class="row">
    <div class="col">
        <form method="GET" id="analyte_search_form">
            {% csrf_token %}
        <input
                class="form-control"
                type="search"
                name="search"
                placeholder="Begin Typing To Search Analytes..."
                hx-get="{% url 'search_analyte' %}"
                hx-trigger="keyup changed delay:500ms, search"
                hx-target="#searchresults"
        >

        </form>
    </div>
    </div>


    <div class="row">
    <div class="col" id="searchresults">
        {%  include 'database/partials/analyte_searchresult.html' %}
        <span
            hx-get="{% url 'search_analyte' %}"
            hx-trigger="load"
        >

        </span>
    </div>
    </div>