{% load i18n %}


{% if results %}

    <table class="table table-striped">
        <thead>
        <tr>
            <td><h5>{% trans 'Analyte name' %}</h5></td>
        </tr>
        </thead>
        <tbody>


        {% for analyte in results %}
            <tr>
                <td>

                    <a href="{% url 'analyte_detail' analyte.analyte_id %}">
                        {{ analyte.name }}
                        {% if analyte.details %}
                            - {{ analyte.details }}
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}


    <h4>It seems we do not have what you are looking for ...</h4>

{% endif %}