{% load i18n %}


    <table class="table table-striped">
        <thead>
        <tr>
            <td><h5>{% trans 'Analyte name' %}</h5></td>
            <td><h5>{% trans 'Available Specimen' %}</h5></td>
        </tr>
        </thead>
        <tbody>

        {% for analyte in results %}
            <tr>
                <td>

                    <a href="{% url 'analyte_detail' analyte.aid %}">
                        {{ analyte.name }}
                        {% if analyte.details %}
                            - {{ analyte.details }}
                        {% endif %}
                    </a>
                </td>
            <td>
                {% if analyte.analyte_specimen.all.count > 0 %}
                {% for specimen in analyte.analyte_specimen.all %}

                        {{ specimen.specimen.name }} |
                    {% endfor %}
                    {% else %}
                    No stability data available
                    {% endif %}

            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
