{% load i18n %}


    <table class="table table-striped">
        <thead>
        <tr>
            <td><h5>{% trans 'Analyte name' %}</h5></td>
            <td><h5>{% trans 'Specimen' %}</h5></td>
        </tr>
        </thead>
        <tbody>

        {% for analyte in results %}
            <tr>
                <td>

                    <a href="{% url 'analyte_detail' analyte.aid %}">
                        {{ analyte.name }}
                        {% if analyte.details %}
                            - {{ analyte.details }}
                        {% endif %}
                    </a>
                </td>
            <td>
                {{ analyte.specimen.name }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
