{% extends "itemlists.html" %}
{% load i18n %}
{% load static %}

{% block title %}My durations{% endblock %}

{% block item %}

    <h4 class="display-5">My durations</h4>
<div  class="alert alert-primary" role="alert">Define alle storage times you evaluated in your study</div>
    {% if duration_zero.exists %}
        <div  class="alert alert-danger" role="alert">Do not forget to add a baseline (0 hours) duration</div>
    {% endif %}
    <a hx-get="{% url 'create-duration-form' %}" class="button button-red" role="button" data-bs-toggle="button"
       hx-swap="beforeend" hx-target="#duration_form">Add additional duration</a> |


    {% if duration_zero.exists %}
        <a href="{% url 'create-condition' %}" class="button button-red">Next step</a>
        {% else %}
        <a href="#" class="button button-red" data-bs-toggle="modal" data-bs-target="#exampleModal">Next step</a>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Caution!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        It seems you have forgotten to add a Baseline time ( "0 Minutes" )
      </div>
      <div class="modal-footer">
        <button type="button" class="button button-red" data-bs-dismiss="modal">OK, let´s do that now</button>
        <a href="{% url 'create-condition' %}" class="button button-red">I don´t care</a>
      </div>
    </div>
  </div>
</div>

    {% endif %}
    <div class="row" id="duration_form"></div>
    {% if durations %}
        {% for duration in durations %}

            {% include 'calculator/partials/duration_detail.html' %}
        {% endfor %}
    {% else %}
        <br>
        <div class="alert alert-primary" role="alert">
            Currently no durations saved - <a hx-get="{% url 'create-duration-form' %}" hx-swap="beforeend"
                                                hx-target="#duration_form" class="alert-link">Create your first
            duration</a>.
        </div>
    {% endif %}

{% endblock %}


