{% extends "base.html" %}
{% load static %}

{% block headadditional %}
{% endblock %}

{% block title %}Insert Instruments{% endblock %}

{% block content %}
  <div class="p-md-4 p-sm-3 rounded-sm header_hike_add">
    <h2 class="display-4">New Instrument</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <form method="POST">
        {% csrf_token %}
          {{ form.as_p}}
          <input type="submit" value="Submit">
          <br>
          <br>

          {#                    {% include "includes/form_template.html" %}#}
      </form>
    </div>
  <div class="row">
      <button type="submit" class="btn btn-primary">Next (Add Parameter)</button>
  </div>

  </div>
{% endblock content %}