{% extends "itemlists.html" %}
{% load i18n %}
{% load static %}

{% block title %}My preanalytical sets{% endblock %}

{% block item %}

    <h4 class="display-5">My preanalytical sets</h4>

    <div  class="alert alert-primary" role="alert">Define preanalytical conditions for your stability study (if not already in the list below)</div>


    <a hx-get="{% url 'create-preanalytical-set-form' %}" class="button button-red" role="button" data-bs-toggle="button"
       hx-swap="beforeend" hx-target="#preanalytical_set_form">Add additional preanalytical condition set</a> | <a href="{% url 'create-sample' %}" class="button button-red">Next step</a>
    <div class="row" id="preanalytical_set_form"></div>
    {% if preanalytical_sets %}
        {% for preanalytical_set in preanalytical_sets %}
            {% include 'calculator/partials/preanalytical_set_detail.html' %}
        {% endfor %}
    {% else %}
        <br>
        <div class="alert alert-primary" role="alert">
            Currently no preanalytical conditions saved - <a hx-get="{% url 'create-preanalytical-set-form' %}" hx-swap="beforeend"
                                                 hx-target="#preanalytical_set_form" class="alert-link">Create your first
            preanalytical condition set</a>.
        </div>
    {% endif %}

{% endblock %}


