{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}List/Add samples{% endblock %}

{% block content %}

    <h4 class="display-5">List / Add samples</h4>


    <a hx-get="{% url 'create-sample-form' %}" class="btn btn-outline-secondary btn-add" role="button" data-bs-toggle="button"
       hx-swap="beforeend" hx-target="#sample_form">Add additional sample</a>
    <div class="row" id="sample_form"></div>
    {% if samples %}
        {% for sample in samples %}
            {% include 'calculator/partials/sample_detail.html' %}
        {% endfor %}
    {% else %}
        <br>
        <div class="alert alert-primary" role="alert">
            Currently no samples saved - <a hx-get="{% url 'create-sample-form' %}" hx-swap="beforeend"
                                                hx-target="#sample_form" class="alert-link">Create your first
            sample</a>.
        </div>
    {% endif %}
    <div class="row">

            <br>
            <a href="{% url 'create-parameter' %}" class="btn btn-outline-secondary btn-next" role="button" data-bs-toggle="button">Next
                (Add parameters) <i class="bi bi-arrow-right"></i></a>

    </div>
{% endblock %}


