{% extends "itemlists.html" %}
{% load i18n %}
{% load static %}

{% block title %}M subjects{% endblock %}

{% block item %}

    <h4 class="display-5">List / Add subjects</h4>


    <a hx-get="{% url 'create-subject-form' %}" class="button button-red" role="button" data-bs-toggle="button"
       hx-swap="beforeend" hx-target="#subject_form">Add additional subject</a>
    <div class="row" id="subject_form"></div>
    {% if subjects %}
        {% for subject in subjects %}
            {% include 'calculator/partials/subject_detail.html' %}
        {% endfor %}
    {% else %}
        <br>
        <div class="alert alert-primary" role="alert">
            Currently no subjects saved - <a hx-get="{% url 'create-subject-form' %}" hx-swap="beforeend"
                                                hx-target="#subject_form" class="alert-link">Create your first
            subject</a>.
        </div>
    {% endif %}

{% endblock %}


