{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Study data Import</h1>
        <div class="container-fluid">
            <div class="row">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div style="max-width:470px;">
                    <form method='POST' enctype="multipart/form-data">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="submit">
                    </form>
                </div>

            </div>
        </div>
{% endblock %}