@font-face {
     font-family: "Montserrat";
     src: url('fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
     font-family: "Ubuntu";
     src: url('fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

.tubetype{
    margin-bottom: 20px;
}

.specimen_tab{
    padding-top: 1em;
}

.stabilities-abs{
    border-bottom: 1px solid darkgrey;
    padding-bottom: 1em;
    margin-bottom: 1em;

}

.card{
    margin-bottom: 1em;
}

#loinc{
    margin-bottom: 1em;
}

.regression{
    color: var(--imperial-red);
}