@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap');


/*---------------------Colors-------------------*/

:root {
    /* CSS HEX */
    --imperial-red: #e63946ff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
    --powder-blue: #b7cdce;
    --honey-yellow: #ffae03ff;
    --cultured: #f6f4f3ff;
    --background: #f4f4f4;

    /* CSS HSL */
    --imperial-red: hsla(355, 78%, 56%, 1);
    --celadon-blue: hsla(203, 39%, 44%, 1);
    --prussian-blue: hsla(215, 50%, 23%, 1);
    --powder-blue: hsla(182, 43%, 76%, 1);
    --honey-yellow: hsla(41, 100%, 51%, 1);
    --cultured: hsla(20, 14%, 96%, 1);
}
/*!* SCSS HEX *!*/
/*$imperial-red: #e63946ff;*/
/*$celadon-blue: #457b9dff;*/
/*$prussian-blue: #1d3557ff;*/
/*$honey-yellow: #ffae03ff;*/
/*$cultured: #f6f4f3ff;*/

/*!* SCSS HSL *!*/
/*$imperial-red: hsla(355, 78%, 56%, 1);*/
/*$celadon-blue: hsla(203, 39%, 44%, 1);*/
/*$prussian-blue: hsla(215, 50%, 23%, 1);*/
/*$honey-yellow: hsla(41, 100%, 51%, 1);*/
/*$cultured: hsla(20, 14%, 96%, 1);*/

/*!* SCSS RGB *!*/
/*$imperial-red: rgba(230, 57, 70, 1);*/
/*$celadon-blue: rgba(69, 123, 157, 1);*/
/*$prussian-blue: rgba(29, 53, 87, 1);*/
/*$honey-yellow: rgba(255, 174, 3, 1);*/
/*$cultured: rgba(246, 244, 243, 1);*/

/*!* SCSS Gradient *!*/
/*$gradient-top: linear-gradient(0deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-right: linear-gradient(90deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-bottom: linear-gradient(180deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-left: linear-gradient(270deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-top-right: linear-gradient(45deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-bottom-right: linear-gradient(135deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-top-left: linear-gradient(225deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-bottom-left: linear-gradient(315deg, #e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/
/*$gradient-radial: radial-gradient(#e63946ff, #457b9dff, #1d3557ff, #ffae03ff, #f6f4f3ff);*/



/* ------------------OVERALL------------------*/

/*table, th, td {*/
/*  border: 1px solid black;*/
/*}*/


body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}

/*ul{*/
/*    list-style: none;*/
/*}*/

a:link {
color: var(--imperial-red)
}

a:visited {
color: var(--imperial-red)
}

a:hover {
color: #FF924C;
}

a:active {
color: #FFCA3A;
}

th{
    font-weight: normal;
}

.image_attribution{
    font-size: smaller;
    float: right;
}

.image_attribution a:link {
color: dimgrey;
}

.image_attribution a:visited {
color: dimgrey;
}

.image_attribution a:hover {
color: lightgray; !important;
}

.image_attribution a:active {
color: lightgray; !important;
}

.display-6{
    background-color: var(--celadon-blue);
    color: white;
    padding: 5px;
}
/*-----------------------------------NAVBAR---------------------------------------*/

.navbar{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin-bottom: 2em;
    /*background: rgba(255,255,255,0.5);*/
    /*-webkit-backdrop-filter: blur(8px);*/
    /*backdrop-filter: blur(8px);*/
    /*border: 1px solid rgba(255,255,255,0.25);*/
    /*position: fixed;*/
}

.navbar-brand{
    font-size: 1.5em;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-item{
    font-size: 1.2em  !important;,
}

/*!*FIXME: Linkfarbe*!*/
/*#navbarDropdown a:link,*/
/*#navbarDropdown a:visited{*/
/*    color: gray; !important;*/
/*}*/

#navbarDropdown  a:link {
color: dimgrey;
}

#navbarDropdown  a:visited {
color: dimgrey;
}

#navbarDropdown  a:hover {
color: lightgray; !important;
}

#navbarDropdown  a:active {
color: lightgray; !important;
}

/*a:link,*/
/*a:visited {*/
/*    color: gray;*/
/*}*/

/*a:hover,*/
/*a:active {*/
/*    color: darkgray;*/
/*}*/


/*-------------------------------------INDEX PAGE------------------------------------*/

.index-site-title{
    background-color: transparent; !important;
    color: black; !important;
}

.instrument-toggle{
    display: block;
}

.heading2{
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 2em;
}

.strong{
    font-weight: bold;
    font-size: large;
}

.index-text{
    font-size: 1.5em;
}

.button {
      /*background-color: #4CAF50; !* Green *!*/
      border: none;
      color: var(--background);
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      margin: 4px 2px;
      transition-duration: 0.2s;
      cursor: pointer;
    border-radius: 5px;
    box-shadow:
      0px 2.1px 6.1px rgba(0, 0, 0, 0.023),
      0px 4.8px 12.8px rgba(0, 0, 0, 0.032),
      0px 8.6px 21px rgba(0, 0, 0, 0.038),
      0px 14.5px 32.7px rgba(0, 0, 0, 0.044),
      0px 25.4px 52.9px rgba(0, 0, 0, 0.051),
      0px 56px 108px rgba(0, 0, 0, 0.07)
    ;
}

.button:active {
  background-color: #3e8e41;
    box-shadow:
      0px 0.7px 3.5px rgba(0, 0, 0, 0.166),
      0px 1.6px 7.2px rgba(0, 0, 0, 0.171),
      0px 2.9px 11.9px rgba(0, 0, 0, 0.17),
      0px 4.9px 18.5px rgba(0, 0, 0, 0.167),
      0px 8.6px 29.9px rgba(0, 0, 0, 0.163),
      0px 19px 61px rgba(0, 0, 0, 0.16)
    ;
  transform: translateY(4px);
}

.button-red {
  background-color: var(--background);
  color: var(--imperial-red);
  border: 0.5px solid var(--imperial-red);
}

.button-red:hover {
  background-color: var(--imperial-red);
  color: white;
}

.button-save{
      background-color: var(--background);
  color: var(--imperial-red);
  border: 0.5px solid var(--imperial-red);
}

.button-save:hover {
  background-color: var(--imperial-red);
  color: white;
}

.button-cookie{
      background-color: #debb7e;
  color: black;
  border: 0.5px solid #915e3a;
}

.button-cookie:hover {
  background-color: #915e3a;
  color: white;
}

.errorlist{
    list-style: none !important;
    color:  var(--imperial-red);
}

.form-check-input{
    font-size: x-large;
    margin-left: 0.5em !important;
}

/*------------------------------------TABLES--------------------------------------*/
#table-dashboard-settingname,
.table-header,
th{
    margin-top: 2em;

    /*color: var(--cultured);*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    /*font-weight: bold;*/
}
.table-header{
        background-color: #ffd166;
}

.table-dashboard-td{
    text-align: center;
}

.table-dashboard-td,
#table-dashboard-condition{

}

/*------------------------------------DASHBOARD--------------------------------------*/


/*----------------------------------LIST/ADD PAGES-------------------------------------*/

.item-box{
    box-shadow:
      1.2px 2.1px 6.1px rgba(0, 0, 0, 0.023),
      2.7px 4.8px 12.8px rgba(0, 0, 0, 0.032),
      4.9px 8.6px 21px rgba(0, 0, 0, 0.038),
      8.3px 14.5px 32.7px rgba(0, 0, 0, 0.044),
      14.5px 25.4px 52.9px rgba(0, 0, 0, 0.051),
      32px 56px 108px rgba(0, 0, 0, 0.07)
    ;
    padding: 1em ;
    margin-top: 1em;

    border-radius: 5px;
    background-color: white;
}

.list-items{
    margin-right: 1em;
}

.form-rowhead{
    font-weight: bold;
}

.number-icons{
    width: 48px;
    height: 48px;
}

.icon_edit,
.icon_delete{
    font-size: 1.5em;
    cursor: pointer;
}

.icon_edit{
    color: var(--celadon-blue)
}

.icon-delete{
    color: var(--imperial-red);
}

.object-list-div{
    background-color: white;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 1em;
    padding: 1em
}

.edit-delete-div{
        margin-top: 1em;
}

.object-btn-save{
    margin-top: 1em;
}

.btn-next{
    margin-top: 1em;
}

.btn-add{

}

#addresults-button{
    margin: 1em
}

#selected_parameter{
    font-size: larger;
    color: var(--imperial-red);
}

/*.other-field{*/
/*    display: none;*/
/*}*/

/*---------------------------------Resultpage------------------------------------*/
.result_buttons,
.print{
    font-size: 2em;
    padding-left: 10px;
}

.parameter_name,
.th_category_heading,
.info_accordion{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.5em !important;
}
.accordion-header,
.info_accordion,
.th_category_heading{
    background-color: var(--honey-yellow) !important;
    /*color: grey !important;*/
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.5em !important;
    padding: 5px;
    border: none !important;
}

.interpretation{
    font-family: Ubuntu, serif;
    font-weight: bold;
    font-size: 1.5em;
}



.total_results{
    font-weight: bold;
    background-color: var(--powder-blue);
}

.calc_result{
    font-size: large;
    font-weight: bold;
}

.modal-body-stat{
    text-align: center;
}

.sub-italic{
    font-style: italic;
}

/*---------------------ABOUT-PAGE---------------------*/

.about_subheading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;

}

/** ------------------FOOTER------------------*!*/


html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -50px; /* the bottom margin is the negative value of the footer's total height */
}


#wrapper:after {
  content: "";
  display: block;
  height: 50px; /* the footer's total height */
}
.use-of-data{

}

#content {
  height: 100%;
}

#footer {
  height: 50px; /* the footer's total height */
}

#footer-content {
  /*background-color: #FFCA3A;*/
  height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 8px;
    text-align: center;
    vertical-align: center;
    /*color: white;*/
}

#footer-content a:link {
color: dimgrey;
}

#footer-content a:visited {
color: dimgrey;
}

#footer-content a:hover {
color: lightgray; !important;
}

#footer-content a:active {
color: lightgray; !important;
}


/*---------------------------------Cookie---------------------------------*/

.cookie-wrapper{
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 365px;
  background: #debb7e;
background: -webkit-linear-gradient(140deg, #debb7e 0%, #915e3a 100%);
background: linear-gradient(140deg, #debb7e 0%, #915e3a 100%);
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  text-align: center;

}

.cookie-header{
    color: white;
        font-family: Ubuntu, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.cookie-content{
    color: white;
 font-family:  Montserrat, sans-serif;;
}