{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Insert Results to {{ setting.name }}{% endblock %}

{% block content %}

    <h4 class="display-5">{{ user.user_name }}'s Dashboard</h4>
    <div class="row">
    <h4 class="display-6 d-flex justify-content-center"><a href="{% url 'create-instrument' %}">Start new stability study (Setup wizard)</a></h4>
    </div>
    <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        <div>
            <h4 class="display-6">My Stability studies</h4>
        </div>
    <table class="table table-hover dashboard-table">
            <tr class="table-header">
        <th>Name</th>

        <th>Storage conditions</th>
                <th>Storage durations</th>
                <th>Study subjects/volunteers/samples (n)</th>
                <th>Results (n)</th>
            </tr>
        {% for setting in settings %}
        <tr>
            <td id="table-dashboard-settingname">{{ setting.name }} <br>


    <div class="display6"
    {% if setting.result_set.count < 10 %}
           onclick="alert10()"><a href="
    {% else %}
       ><a href="{% url 'results' setting.id %}
        {% endif %}
    ">Show statistical evaluation</a></div></td>

        <td id="table-dashboard-condition">

        {% if setting.condition.other_condition %}
             Other condition: {{ setting.condition.other_condition }}
            {% endif %}
            <br>
            {{ setting.condition.get_temperature_display }}
            <br>
            Light: {{ setting.condition.light }}
            <br>
            Air: {{ setting.condition.air }}
            <br>
            Agitation: {{ setting.condition.agitation }}

        </td>
        <td class="table-dashboard-td">
            {% for duration in setting.duration.all %}
                {% if duration.seconds == 0%}
                Baseline <br>
            {% else %}
            {{ duration }} <br>
                {% endif %}
            {% endfor %}


        </td>
            <td  class="table-dashboard-td">{{ subjects.count }}</td>
        <td  class="table-dashboard-td">
            {{ setting.result_set.count }}<br>
            <a href="{% url 'create-result' setting.id %}">Add Results</a>
        </td>

            </tr>
    {% endfor %}
    </table>
    </div>

    <div class="col-2">
     <h4 class="display-6">Add / Edit / Delete</h4>

       <div><a href="{% url 'create-parameter' %}">Parameters / Lab tests</a></div>
    <div><a href="{% url 'create-instrument' %}">Instruments</a></div>
    <div><a href="{% url 'create-setting' %}">Settings</a></div>
    <div><a href="{% url 'create-condition' %}">Conditions</a></div>
    <div><a href="{% url 'create-sample' %}">Samples</a></div>
    <div><a href="{% url 'create-duration' %}">Storage durations</a></div>
    <div><a href="{% url 'create-subject' %}">Study subjects/volunteers/samples</a></div>

     <div class="col-1"></div>
    </div>

{#'settings': settings,#}
{#        'parameters': parameters,#}
{#        'subjects': subjects,#}
{#        'durations': durations,#}
{#        'samples': samples,#}
{#        'conditions': conditions,#}
{#        'instruments': instruments,#}

<script type = "text/javascript">
            function alert10() {
               alert ("Please insert at least 10 results for a statistical evaluation");
            }
      </script>

{% endblock %}