{% extends "base.html" %}
{% load static %}

{% block title %}EFLM WG-PRE Stability Calculator{% endblock %}

{% block content %}


    <div class="header_index">
        <h2 class="display-4">Stability Calculator - Dashboard</h2>
        <p class="lead">
            EFLM Working Group "Preanalytical Phase" (WG-PRE)
        </p>
    </div>

    <div class="row  d-flex justify-content-center">
        <h3 class="display-5">My instruments</h3>
    <h3 class="display-5">My samples</h3>
    <h3 class="display-5">My calculations</h3>
    </div>
{% endblock %}