{% extends "base.html" %}
{% load static %}

{% block title %}EFLM WG-PRE Stability Calculator{% endblock %}

{% block content %}


    <div class="header_index row">
    <div class="col-2 d-flex justify-content-center">
        <img src="{% static 'images/Stabcalc-Logo-BRG.png' %}" alt="" >
    </div>
        <div class="col-10">
        <h2 class="display-4">Stability Calculator</h2>
        <p class="lead">
            EFLM Working Group "Preanalytical Phase" (WG-PRE)
        </p>
            </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <a href="{% url 'create-instrument' %}"><img src="{% static 'images/folder_input.png' %}" alt="" ></a><br>
            <h4 class="display-4">Start new stability study</h4>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <a href="{% url 'dashboard' %}"><img src="{% static 'images/folder_open.png' %}" alt=""></a><br>
            <h4 class="display-4">View my stability studies</h4>
        </div>
        <div class="col-2"></div>
    </div>


    </div>
{% endblock %}