{% extends "base.html" %}
{% load static %}
{%  url 'create-instrument' as instrument_url %}

{% block title %}EFLM WG-PRE Stability Calculator{% endblock %}

{% block content %}


<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'create-instrument' %} active {% endif %}" href="{% url 'create-instrument' %}">Instruments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'create-parameter' %} active {% endif %}" href="{% url 'create-parameter' %}">Parameter / Analyte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'create-sample' %} active {% endif %}" href="{% url 'create-sample' %}">Sample</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'create-duration' %} active {% endif %}" href="{% url 'create-duration' %}">Storage durations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'create-condition' %} active {% endif %}" href="{% url 'create-condition' %}">Storage conditions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'create-subject' %} active {% endif %}" href="{% url 'create-subject' %}">Study subjects/voluteers/samples</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if request.resolver_match.url_name == 'create-setting' %} active {% endif %}" href="{% url 'create-setting' %}">Study settings</a>
  </li>
</ul>
  </div>
</nav>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
        {% block item %}
        {% endblock %}
</div>
<div class="col-2"></div>
</div>

{% endblock %}