{% extends "base.html" %}
{% load static %}

{% block title %}EFLM WG-PRE Stability Calculator{% endblock %}

{% block content %}

   <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-instruments" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Instruments</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-parameters" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Parameters/Analytes</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-samples" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Samples</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-conditions" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Conditions</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-durations" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Storage Durations</button>
     <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-subjects" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Study subjects/volunteers/samples</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-instruments" role="tabpanel" aria-labelledby="nav-instruments-tab">
      {% include 'calculator/instrument_list.html' %}
  </div>
  <div class="tab-pane fade" id="nav-parameters" role="tabpanel" aria-labelledby="nav-parameters-tab">Parameters</div>
  <div class="tab-pane fade" id="nav-samples" role="tabpanel" aria-labelledby="nav-samples-tab">Samples</div>
</div>

{% endblock %}