
{##}
<div hx-target="this" hx-swap='outerHTML' class="row">
    {% if parameter.owner == user %}
 <div class="col-7 object-list-div">
    <h3>{{ parameter.name }}</h3>
    {{ parameter.unit }}<br>
 </div>
<div class="col-2 edit-delete-div">
    <div hx-get="{% url 'edit-parameter' parameter.id %}"><i class="bi bi-pencil icon_edit"></i></div>
    <div hx-post="{% url 'delete-parameter' parameter.id %}" hx-confirm="Are you sure?"  class="icon-delete"><i class="bi bi-trash icon_delete"></i></div>
</div>

{% endif %}
</div>
{##}
