<div hx-target="this" hx-swap="outerHTML">
    <div class="col item-box">
        <form method="POST">
            {% csrf_token %}


            <table>
                <tr>
                    <th colspan="2"><h4>
                        Parameter
                    </h4></th>
                </tr>
                <tr>
                    <td class="form-rowhead">
                        {{ form.name.label_tag }}
                    </td>
                    <td class="form-rowhead">
                        {{ form.unit.label_tag }}
                    </td>
                </tr>
            <tr>
                <td class="sub-italic">
                    Start typing and select.
                </td>
            </tr>
                <tr>

                    <td>
{#                        {{ form.name#}
                        <input
                                type="text"
                                name="name"
                                hx-trigger="keyup changed delay:500ms, search"
                                hx-post="."
                                hx-target="#parameter_form"
                        >
{#                        <input type="text" id="parameter_input">#}
{#                            <script>#}
{#                                  $( function() {#}
{#                                    var availableNames = [#}
{#                                        {% for name in parameter_names %}#}
{#                                            "{{name}}",#}
{#                                        {% endfor %}#}
{#                                    ];#}
{#                                    $( "#parameter_input" ).autocomplete({#}
{#                                      source: availableNames#}
{#                                    });#}
{#                                  } );#}
{#                          </script>#}
                    </td>
                    <td>
                        {{ form.unit }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.name.errors }}
                    </td>
                    <td>
                        {{ form.unit.errors }}
                    </td>
                </tr>
                <tr>
                    <th colspan="2"><h4>
                        Analysis
                    </h4></th>
                </tr>
                <tr>
                    <td class="form-rowhead">
                        {{ form.reagent_name.label_tag }}
                    </td>
                    <td class="form-rowhead">

                        {{ form.reagent_manufacturer.label_tag }}

                    </td>
                </tr>
                <tr>

                    <td>
                        {{ form.reagent_name }}
                    </td>
                    <td>
                        {{ form.reagent_manufacturer }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.reagent_name.errors }}
                    </td>
                    <td>
                        {{ form.reagent_manufacturer.errors }}
                    </td>
                </tr>

                <tr>
                    <td class="form-rowhead">
                        {{ form.analytical_method.label_tag }}
                    </td>
                    <td>
                       {{ form.analytical_method }}
                    </td>
                </tr>
                <tr>
                    <td class="form-rowhead">
                        <p></p>
                        Is it a manual analytical method?<br>


                    </td>
                    <td class="form-rowhead">
                        <p></p><div>
                <input type="checkbox" name="method_hand" class="check-input" onclick="hideInstrument()">(Yes)</input>

            </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="instrument-toggle">
                                Analytical instrument <br>
                                {{ form.instrument }} {{ form.instrument.errors }}
                            </div>
                    </td>
                </tr>
                                <tr>
                    <th colspan="2"><h4>
                        CVs
                    </h4></th>
                </tr>
                <tr>
                    <td class="form-rowhead">
                        Analytical Imprecision (Intra-Assay CV %)
                    </td>
                </tr>
                <tr>

                    <td>
                        {{ form.CV.CV_g }}
                    </td>
                    <td>
                        %
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.CV_intra.errors }}
                    </td>
                    <td>
                        {{ form.CV_inter.errors }}
                    </td>
                </tr>
            </table>


                        <script>
                            function hideInstrument() {

                              let displaystatus = document.getElementById('instrument-toggle');

                              if (displaystatus.style.display === 'none') {
                                displaystatus.style.display = 'block'
                              } else {
                                displaystatus.style.display = 'none'
                              }
                            }
                        </script>
            <p></p>
            {#    If statement to prevent edit-view from creating more objects#}
            {% if parameter %}     {#  Passed in from Edit-instrument-view #}
                <button class="button button-save" type="submit" hx-post="{% url 'edit-parameter' parameter.id %}"
                        class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Save
                </button>
            {% else %}
                <button class="button button-save" type="submit" hx-post=".">
                    Save
                </button>
            {% endif %}
        </form>
    </div>


</div>