
{##}
<div hx-target="this" hx-swap='outerHTML' class="row">
{% if preanalytics.owner == user %}


<div class="col-7 object-list-div">
    <h3>
        {{ preanalytics.collection_site }}
    </h3>
<h4>Transportation</h4>
Time: {{ preanalytics.transportation_time }} {{ preanalytics.get_transportation_time_unit_display }} br
Temperature: {{ preanalytics.transportation_temp }} °C <br>
Method: {{ preanalytics.get_transportation_method_display }}
<h4>Centrifugation</h4>
Speed: {{ preanalytics.centrifugation_g }} *g <br>
Time: {{ preanalytics.centrifugation_time }} minutes <br>
Temperature: {{ preanalytics.transportation_temp }}
</div>
    <div class="col-2 edit-delete-div">
    <div hx-get="{% url 'edit-preanalytics' preanalytics.id %}"><i class="bi bi-pencil icon_edit"></i></div>
    <div hx-post="{% url 'delete-preanalytics' preanalytics.id %}" hx-confirm="Are you sure?" class="icon-delete"><i class="bi bi-trash icon_delete"></i></div>
    </div>
{% endif %}
</div>

