<div hx-target="this" hx-swap="outerHTML" >
<p></p>
<div class="col-9 object-list-div">
    <form method="POST">

        {% csrf_token %}
{#        {{ form }}#}
             <table>
                 <tr>
                     <th colspan="2"><h4>Sample collection</h4></th>
                 </tr>
                 <tr>
                     <td class="form-rowhead">
                         {{ form.collection_instrument.label_tag }}
                     </td>
                     <td>
                         {{ form.collection_instrument }}
                     </td>
                 </tr>
                 <tr>
                     <td class="form-rowhead">
                         {{ form.collection_site.label_tag }}
                     </td>
                     <td>
                         {{ form.collection_site }}
                         <p></p>
                     </td>
                 </tr>
                 <tr>
                     <th><h4>Transportation</h4></th>
                 </tr>
                 <tr>
                     <td class="form-rowhead">
                        {{ form.transportation_time.label_tag }}
                    </td>
                     <td>
                         {{ form.transportation_time }}
                     </td>
                     <td>{{ form.transportation_time_unit }}</td>
                 </tr>
                 <tr>
                     <td class="form-rowhead">
                        {{ form.transportation_temp.label_tag }}
                    </td>
                     <td>
                         {{ form.transportation_temp }}
                     </td>
                     <td> °C</td>
                 </tr>
                 <tr>
                     <td class="form-rowhead">
                        {{ form.transportation_method.label_tag }}
                    </td>
                     <td>
                         {{ form.transportation_method }}
                         <p></p>
                     </td>
                 </tr>
                 <tr>
                     <th><h4>Centrifugation</h4></th>
                 </tr>
                 <tr>
                     <td class="form-rowhead">
                        {{ form.centrifugation_g.label_tag }}
                    </td>
                     <td>
                         {{ form.centrifugation_g }}
                     </td>
                     <td> *g</td>
                 </tr>
                 <tr>
                     <td class="form-rowhead"t>
                        {{ form.centrifugation_time.label_tag }}
                    </td>
                     <td>
                         {{ form.centrifugation_time }}
                     </td>
                     <td> minutes</td>
                 </tr>
                 <tr>
                     <td class="form-rowhead">
                        {{ form.centrifugation_temp.label_tag }}
                    </td>
                     <td>
                         {{ form.centrifugation_temp }}
                         <p></p>
                     </td>
                     <td> °C</td>
                 </tr>
                 <tr>
                     <th><h4>
                         Comment:
                     </h4></th>
                 </tr>
                 <tr>
                     <td colspan="2">
                         Samples should be mixed properly after collection. Serum-samples should be transported in upright position.
                         <br>
                         In case of deviations from <a href="https://www.eflm.eu/site/api/download/1453-2.CCLM_2018_EFLM_Guidelines.pdf/publications/Joint%20EFLM-COLABIOCLI%20Recommendation%20for%20venous%20blood%20sampling%20v%201.1,%20June%202018" target="_blank">current preanalytical recommendations</a>, including hemolysis, icterus or lipemia, please indicate in this comment field.
                         <br>
                         {{ form.comment }}
                     </td>
                 </tr>
             </table>
<p></p>
{#    If statement to prevent edit-view from creating more objects#}
        {% if preanalytical_set %}     {#  Passed in from Edit-preanalytics-view #}
            <button  class="btn btn-secondary" type="submit" hx-post="{% url 'edit-preanalytical-set' preanalytical_set.id %}"
            class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Savel
        </button>
        {% else %}
            <button  class="btn btn-secondary" type="submit" hx-post=".">
            Save
        </button>
        {% endif %}
    </form>
</div>
</div>

