
{##}
<div hx-target="this" hx-swap='outerHTML' class="row">
{% if sample.owner == user %}


 <div class="col-7 object-list-div">
    {% if sample.sample_type_other %}
        <h3>{{ sample.sample_type_other }}</h3>
    {% else %}
    <h3>{{ sample.get_sample_type_display }}</h3>
{% endif %}

    {% if sample.container_additive_other %}
        {{ sample.container_additive_other }}
        {% else %}
    {{ sample.get_container_additive_display}}
    {% endif %} |

    {% if sample.gel == True %}
        with Gel/Seperator
    {% else %}
        without Gel/Seperator
    {% endif %} |
    {{ sample.container_fillingvolume }} mL<br>
 </div>
    <div class="col-2 edit-delete-div">
    <div hx-get="{% url 'edit-sample' sample.id %}"><i class="bi bi-pencil icon_edit"></i></div>
    <div hx-post="{% url 'delete-sample' sample.id %}" hx-confirm="Are you sure?"  class="icon-delete"><i class="bi bi-trash icon_delete"></i></div>
    </div>
{% endif %}
</div>
