
{##}
<div hx-target="this" hx-swap='outerHTML' class="row">
 <div class="col-7 object-list-div">
    {% if sample.sample_type_other %}
        <h3>{{ sample.sample_type_other }}</h3>
    {% else %}
    <h3>{{ sample.get_sample_type_display }}</h3>
{% endif %}

    {% if sample.container_additive_other %}
        {{ sample.container_additive_other }}
        {% else %}
    {{ sample.get_container_additive_display}}
    {% endif %} |

    {% if sample.gel == True %}
        with Gel/Seperator
    {% else %}
        without Gel/Seperator
    {% endif %} |
    {{ sample.container_fillingvolume }} mL<br>
 </div>
    <div class="col-2 edit-delete-div">
    <div hx-get="{% url 'edit-sample' sample.id %}"><i class="bi bi-pencil icon_edit"></i></div>
    <div hx-post="{% url 'delete-sample' sample.id %}" hx-confirm="Are you sure?"><i class="bi bi-trash icon_delete"></i></div>
    </div>

    {#    <div class="mt-2">#}
{#        <button hx-get="{% url 'update-book' book.id %}" hx-swap="outerHTML"#}
{#            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">#}
{#            Update#}
{#        </button>#}
{#        <button hx-post="{% url 'delete-book' book.id %}" hx-swap="outerHTML swap:1s"#}
{#            class="ml-2 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">#}
{#            Delete#}
{#        </button>#}
{#    </div>#}
{##}
{##}
{#    <div class="row" id="sample_form"></div>#}
{##}
{#    <button hx-get="{% url 'add_sample' %}" hx-swap="outerHTML" hx-target="#sample_form">Add additional sample</button>#}
{##}
{##}
{#<a href="{% url 'add_sample' %}">Next (samples)</a>#}
{##}
{##}
</div>
{##}
