<div hx-target="this" hx-swap="outerHTML" >
    <form method="POST">
        {% csrf_token %}
        {{ form }}
{#    If statement to prevent edit-view from creating more objects#}
        {% if setting %}     {#  Passed in from Edit-setting-view #}
            <button  class="btn btn-secondary" type="submit" hx-post="{% url 'edit-setting' setting.id %}"
            class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Save
        </button>
        {% else %}
            <button type="submit"  class="btn btn-secondary" hx-post=".">
            Save
        </button>
        {% endif %}
    </form>
</div>