{% load crispy_forms_tags %}
<div hx-target="this" hx-swap="outerHTML" >
<div class="col-9 object-list-div">
    <form method="POST">
        {% csrf_token %}
    {{ form | crispy}}
<p></p>
{#    If statement to prevent edit-view from creating more objects#}
        {% if subject %}     {#  Passed in from Edit-instrument-view #}
            <button  class="btn btn-secondary" type="submit" hx-post="{% url 'edit-subject' subject.id %}"
            class="inline-flex items-center px-3 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Save
        </button>
        {% else %}
            <button  class="btn btn-secondary" type="submit" hx-post=".">
            Save
        </button>
        {% endif %}
    </form>
</div>
</div>