{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Search Stability Database{% endblock %}

{% block content %}

    <h4 class="display-5">Search Stability Database</h4>



    <a hx-get="{% url 'analyte_search' %}" class="button button-red" role="button" data-bs-toggle="button"
       hx-swap="beforeend" hx-target="#parameter_form">Add additional parameter</a>
    <div class="row" id="parameter_form"></div>



    <h3>

  <span class="htmx-indicator">
    <img src="/images/search_idle.gif"/> Searching...
   </span>
</h3>
<input class="form-control" type="search"
       name="search" placeholder="Begin Typing To Search Analytes..."
       hx-post="/search"
       hx-trigger="keyup changed delay:500ms, search"
       hx-target="#search-results"
       hx-indicator=".htmx-indicator">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{% trans 'Name' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for analyte in analyte_list %}
      <tr>
      <td>
          <a href="{% url 'analyte_detail' analyte.analyte_id %}"> {{ analyte.name }} {% if analyte.details %} - {{ analyte.details }}{% endif %}</a>
      </td>
      </tr>
  {% endfor %}
  </tbody>
</table>



<table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody id="search-results">
    </tbody>
</table>

{% endblock %}


