{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Search Stability Database{% endblock %}

{% block content %}

    <h4 class="display-5">Search Stability Database</h4>



    <a hx-get="{% url 'analyte_search' %}" class="button button-red" role="button" data-bs-toggle="button"
       hx-swap="beforeend" hx-target="#parameter_form">Add additional parameter</a>
    <div class="row" id="parameter_form"></div>



    <h3>

  <span class="htmx-indicator">
    <img src="/images/search_idle.gif"/> Searching...
   </span>
    </h3>
    {% csrf_token %}

    <input class="form-control {% if parameter.pk %}d-none{% endif %}"
           type="search"
           placeholder="Begin Typing To Search Parameters..."
           name="name"

           hx-trigger="keyup changed delay:500ms, search"
           hx-post="{% url 'search_analyte' %}"
           hx-target="#search-results"
           hx-indicator=".htmx-indicator"
           hx-swap="innerHtml"
            {#                    hx-select=""#}
    >
    <div class="spinner-border htmx-indicator" role="status">
        <span class="visually-hidden">Searching...</span>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Analyte name</th>
        </tr>
        </thead>
        <tbody id="search-results">
        <tr>
            <td>
                {{ analyte.name }} {% if analyte.details %} - {{ analyte.details }}{% endif %}
            </td>
        </tr>
        </tbody>

    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for analyte in analyte_list %}
            <tr>
                <td>
                    <a href="{% url 'analyte_detail' analyte.aid %}"> {{ analyte.name }} {% if analyte.details %}
                        - {{ analyte.details }}{% endif %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody id="search-results">
        </tbody>
    </table>

{% endblock %}


