{% extends "base.html" %}
{% load i18n %}
{% load static %}
{#{% load filters %}#}

{% block title %}Search Stability Database{% endblock %}

{% block content %}
<h1>{{ object.name }}</h1>

{% for a in analyte_specimen %}
    {{ a.specimen.name }}
    <br>

{% endfor %}
    {{ analyte_specimen }}
<div class="tab-content">
{% for analyte_instance in analyte_specimen %}
  <div class="tab-pane" id="tab{{ analyte__instance.specimen_id }}">
    <h2>{{ analyte__instance.specimen.name }}</h2>
    <p>Biological variation: {{ analyte__instance.biological_variation }}</p>

    {% for stability in analyte__instances.stability_set.all %}
      <p>Stability at 4°C: {{ stability.stability_4C }}</p>
      <p>Stability at rt: {{ stability.stability_rt }}</p>
      <p>Stability at -20°C: {{ stability.stability_minus20C }}</p>
      <p>Stability at -70°C: {{ stability.stability_minus70C }}</p>
    {% endfor %}
  </div>
{% endfor %}
</div>
{% endblock %}